<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agent Simulation for Stranger Social Interaction Catalyst (SSIC) Model">
    <link rel="favicon" href="./static/favicon.ico">
    <title>Agent Simulation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/sidebar.css">
    <link rel="stylesheet" href="./static/main.css">
</head>

<body class="bg-dark">

    <div class="sidebar">
        <a href="" class="active">Home</a>
        <a href="/register">Register</a>
    </div>

    <div class="main-content">
        <div class="container mt-5">

            <div>
                <h1 class="text-center mb-4 text-white">Stranger Social Interaction Catalyst (SSIC) Model</h1>
                <p class="text-center mb-4 text-white">The combination of a curated engine, a crazy supervisor, a
                    lesser-so
                    mental
                    supervisee, and a love for
                    theoretical artificial intelligence</p>
                <br><br>
            </div>

            <div class="card main-card">
                <h1 class="text-center mb-4" style="color: white;">Agent Simulation</h1>

                <div class="row">
                    <!-- Left Column: Display Plot (taking up half the screen width) -->
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-header text-center">Spatial Grid Layout</div>
                            <div class="card-body text-center">
                                <img src="data:image/png;base64,{{ plot_data }}" alt="Grid Plot"
                                    class="img-fluid rounded">
                            </div>
                            <form method="POST" action="/simulate">
                                <div class="input-group date">
                                    <input type="date" id="date" name="date" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Simulate</button>
                            </form>

                        </div>
                    </div>

                    <!-- Middle Column: TV and Agent Selection Forms (taking up one-fourth of the screen width) -->
                    <div class="col-md-3 mb-4">
                        <!-- Add Television Form -->
                        <div class="card mb-4">
                            <div class="card-header">Add Television</div>
                            <div class="card-body">
                                <form method="POST" action="/add_tv">
                                    <div class="form-group row">
                                        <label for="tv_x" class="col-sm-5 col-form-label">TV X-coordinate:</label>
                                        <div class="col-sm-7">
                                            <input type="number" name="tv_x" id="tv_x" value="7" required min="0"
                                                max="10" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="tv_y" class="col-sm-5 col-form-label">TV Y-coordinate:</label>
                                        <div class="col-sm-7">
                                            <input type="number" name="tv_y" id="tv_y" value="7" required min="0"
                                                max="10" class="form-control">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block"
                                        onclick="this.disabled=true;this.innerHTML='Adding...';this.form.submit();">Add
                                        Television</button>
                                </form>
                            </div>
                        </div>

                        <!-- Add Agent Form -->
                        <div class="card mb-4">
                            <div class="card-header">Add Agent</div>
                            <div class="card-body">
                                <form method="POST" action="/add_agent/">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <select name="name" id="name" required class="form-control">
                                            <option value="" disabled selected>Select Registered Agent</option>
                                            {% for name in agent_names %}
                                            <option value="{{ name }}">{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="posX">Agent X-coordinate:</label>
                                            <input type="number" name="posX" id="posX" value="7" required min="0"
                                                max="10" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="posY">Agent Y-coordinate:</label>
                                            <input type="number" name="posY" id="posY" value="7" required min="0"
                                                max="10" class="form-control">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block"
                                        onclick="this.disabled=true;this.innerHTML='Adding...';this.form.submit();">Add
                                        Agent</button>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- Right Column: Agent List (taking up one-fourth of the screen width) -->
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <div class="card-header">Agent List</div>
                            <div class="card-body">
                                <ul class="list-group">
                                    {% if curr_agents %}
                                    {% for agent in curr_agents %}
                                    <li class="list-group-item">{{ agent[0] }} (X: {{ agent[1] }}, Y: {{ agent[2] }})
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li class="list-group-item text-muted">No agents added yet.</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <form method="POST" action="/reset"
                                onsubmit="return confirm('Are you sure you want to reset? This will remove all agents and TVs.');">
                                <button type="submit" class="btn btn-warning btn-block">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div>
                    <form method="POST" action="/preset1">
                        <button type="submit" class="btn btn-block btn-primary">Preset 1</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>